.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__window {
        width: 516px;
        border-radius: 5px;
        color: white;
    }

    &__window--red {
        background: #e74c3c;
    }

    &__window--green {
        background: #1a773e;
    }
    
    &__header {
        padding: 19px 25px 19px 30px;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header--red {
        background: #d44637;
    }

    &__header--green {
        background: #176937;
    }
    
    &__body {
        padding: 25px 35px 25px;
        box-sizing: border-box;
        font-size: 15px;
        text-align: center;
    }
}

.header__title {
    margin: 0;
}