@font-face {
	font-family: 'FuturaBT';
	src: url('../fonts/Futura Md BT Bold.eot');
	src: local('☺'), url('../fonts/Futura Md BT Bold.woff') format('woff'), url('../fonts/Futura Md BT Bold.ttf') format('truetype'), url('../fonts/Futura Md BT Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
    overflow: hidden;
}

.main-page {
    background: rgba(0, 0, 0, 0.0001);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.container {
    max-width: 1000px; 
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.parallax-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.parallax-section-navbar {
    padding-top: 30px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/bg1.jpg);
}

.parallax-section-navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-left: 50vw solid #ffffff;
    border-right: 50vw solid #ffffff;
    border-top: 70px solid transparent;
}

.navbar {
    padding: 37px 0;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: space-between;
}

.company-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    margin: 0;
}

.name {
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: bold;
}

.company-name:hover {
    opacity: 0.7;
}

.nav-header ul {
    width: 595px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-header-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #424F57;
}

.nav-header-link:hover {
    color: #14AFCA;
    transition: 0.3s ease;
}

.header-title {
    font-family: 'FuturaBT';
    font-size: 52px;
    line-height: 75px;
    color: #FFFFFF;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    padding: 149px 0 134px 0;
}

.content {
    transform: translateZ(-25px) scale(1.2);
}

.whitespace {
    display: block;
}

.what {
    padding: 122px 0 90px 0;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    color: #14AFCA;
    margin: 0;
    text-transform: uppercase;
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #424F57;
}

.section-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #424F57;
    margin: 0;
}

.parallax-section-companies {
    padding-top: 125.5px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/bg2.jpg);
    background-position: center bottom 75%;
}

.parallax-section-companies::before {
    content: "";
    position: absolute;
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 85px solid #FFFFFF;
}

.parallax-section-companies::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
}

.white-subtitle {
    color: #FFFFFF;
    margin-bottom: 0;
}

.company-logo-grid {
    display: grid;
    grid-template-columns: 189px 225px 217px 200px;
    grid-template-rows: max-content;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    align-items: center;
    padding: 40px 0 177px 0;
}

.company-logo:hover, .logo-container:hover {
    opacity: 0.7;
}

.img {
    display: block;
    width: 100%;
}

.logo-container {
    width: 225px;
    height: 99px;
    background: #FCFBFB;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 0 18px 0 16px;
    box-sizing: border-box;
}

.adobe-logo-img {
    width: 77px;
    height: 63px;
    padding-top: 19px;
}

.adobe-logo-text {
    width: 114px;
    height: 38px;
    padding-top: 32px;
}

.meet-us {
    padding: 82px 0 128.5px 0;
}

.meet-us-grid {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-gap: 55px;
}

.meet-us-figure {
    width: 309px;
    margin: 0;
}

.meet-us-figure:hover .meet-us-img, .meet-us-figure:hover .meet-us-figcaption {
    opacity: 0.7;
    border: 1px solid #14AFCA;
}

.meet-us-img {
    width: 207px;
    margin: 0 auto;
}

.meet-us-figcaption {
    padding: 20.5px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #424F57;
}

.parallax-section-testimonials {
    padding-top: 190px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/bg2.jpg);
    background-position: center bottom 70%;
}

.parallax-section-testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 85px solid #FFFFFF;
}

.parallax-section-testimonials::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-left: 50vw solid #ffffff;
    border-right: 50vw solid #ffffff;
    border-top: 70px solid transparent;
}

.testimonials-text {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    padding-top: 40px;
}

.shoaib-ahmed {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    padding: 20px 145px 143px 0;
    margin: 0;
    text-align: right;
}

.why {
    padding: 105px 0 96px 0;
}

.why-text {
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
    text-transform: uppercase;
    width: 816px;
    margin: 0 auto;
    padding-top: 10px;
}

.footer {
    width: 416px;
    padding-bottom: 88px;
    margin: 0 auto;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
}

.iconic-graphics {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.8px;
}