.components-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    min-width: 600px;
}

.cart-products {
    border: 1px solid #eeeff2;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    &__header {
        text-align: center;
    }
}