.main-page {
    background: black;
    background-image: url(../img/background.jpg);
    perspective: 200px;
    overflow: hidden;
} 

.titles {
    margin: 0 auto;
    color: #fcd000;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    max-width: 600px;
    transform: rotateX(30deg);
    animation: up 30s ease-in infinite;
}

.episode, .heading {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

@keyframes up {
    0% { 
        transform: rotateX(30deg) translateY(380px); 
    }
    100% { 
        transform: rotateX(30deg) translateY(-300px); 
    }
}
  
audio {
    margin: 20px 0 0 20px;
    outline: none;
}
  
audio::-webkit-media-controls-panel {
    background-color: #fcd000;
}