.main-page {
    font-family: 'Roboto', sans-serif;
    background: url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
    padding: 51px 0 15px 0;
} 

.container {
    max-width: 1024px; 
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.link-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 26px;
}

.img {
    display: block;
    width: 100%;
}

.logo {
    width: 53px;
    height: 47px;
}

.logo-text {
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 8px;
}

.holidays {
    font-size: 18px;
    line-height: 18px;
}

.header-logo:hover .logo {
    content: url(../img/header-logo-orange.png);
}

.header-logo:hover .logo-text {
    color: #F26522;
}

.header-email, .header-phone {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.header-email:hover, .header-phone:hover {
    color: #F26522;
    transition: 0.3s ease;
}

.header-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 220px;
}

.events-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.event-block {
    width: 300px;
    position: relative;
}

.events-link {
    display: block;
    text-decoration: none;
    position: relative;
}

.events-link:hover .figcaption {
    color: #F26522;
}

@keyframes move {
	from {top: 220px;}
	to {top: 165px;}
}

.details-block {
    display: none;
    position: absolute;
    top: 165px;
    width: 300px;
    height: 55px;
    background: #F26522;
    color: #FFFFFF;
    animation: move 0.3s ease-in-out;
}

.event-block:hover .details-block {
    display: block;
}

.from {
    position: absolute;
    top: 7px;
    left: 16px;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}

.euro {
    position: absolute;
    top: 25px;
    left: 16px;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.details {
    position: absolute;
    top: 29px;
    left: 180px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

.details::after {
    content: url(../img/arrow.png);
    padding-left: 16px;
}

.events-figure {
    width: 300px; 
    text-align: center;
    margin: 0;
}

.events-img {
    width: 300px;
    height: 220px;
    background: linear-gradient(to right, white, black);
    padding: 1px;
}

.figcaption {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.events-figcaption {
    padding: 20px 0 37px 0;
}

.footer {
    padding-top: 49px;
    color: #FFFFFF;
    text-align: center;
}