.main-page {
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
} 

.nav-header {
    text-align: center;
    height: 78px;
}

.menu {
    margin: 0;
    padding-top: 25.5px;
}

.menu-item {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding-right: 72px;
} 

.nav-header-link {
    color: #FF0000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
}

.article-photo {
    height: 789px;
    display: block;
    margin: 0 auto;
}

.article-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 38px;
}

.article-text {
    width: 1145px;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    padding-bottom: 28px;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 43.5px 17px 42.5px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    margin-top: 66px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.copyright {
    width: 1070px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 82px 105px 29px;
}