.pricing-plan {
    font-family: 'Arimo', sans-serif;
}

.title {
    text-align: left;
}

.column {
    border: 2px solid #DDDDDD;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.27);
}

.description {
    margin: 0;
}

.pricing-table {
    width: 1192px;
    border-collapse: collapse;
    border: 22px solid #3A4965;
}

.digit {
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
}

.big-digit {
    font-size: 60px;
}

.small-digit {
    font-size: 24px;
    text-align: center;
}

.heading {
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    box-sizing: border-box;
}

.main-heading {
    width: 314px;
    font-size: 18px;
    color: #484848;
    padding-top: 51px;
    background: #FAFAFA;
}

.choose-plan {
    font-size: 30px;
    color: #484848;
    padding-bottom: 48px;
    background: #FAFAFA;
}

.standard {
    width: 278px;
    font-size: 24px;
    color: #FFFFFF;
    padding: 27px 0 18px 0;
    background: #89C331;
}

.ultimate {
    width: 278px;
    font-size: 30px;
    color: #FFFFFF;
    padding: 24px 0 21px 0;
    background: #F04A56;
}

.premium {
    width: 278px;
    font-size: 24px;
    color: #FFFFFF;
    padding: 27px 0 18px 0;
    background: #20807C;
}

.plan-cost {
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    padding: 20px 0 5px 0;
    background: #FAFAFA;
    box-sizing: border-box;
}

.storage, .e-mail, .products {
    background: #F2F2F2;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    padding: 28px 0;
    box-sizing: border-box;
} 

.bandwidth, .limited, .unlimited, .support, .users {
    background: #E3E3E3;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    padding: 28px 0;
    box-sizing: border-box;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 54px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.contact-us {
    background: #E3E3E3;
    padding: 30px 0;
    box-sizing: border-box;
}

.plan-column-btn {
    background: #484848;
}

.buy-now-green, .buy-now-teal {
    background: #F2F2F2;
    padding: 30px 0;
    box-sizing: border-box;
}

.standard-column-btn {
    background: #89C331;
}

.buy-now-red {
    background: #FAFAFA;
    padding: 30px 0;
    box-sizing: border-box;
}

.ultimate-column-btn {
    background: #F04A56;
}

.premium-column-btn {
    background: #20807C;
}