.product {
    max-width: 230px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__code {
        margin: 0;
        font-size: 14px;
        font-weight: bold
    }

    &__image {
        max-width: 100%;
        max-height: 228px;
    }

    &__name,
    &__price {
        font-weight: bold;
        font-size: 18px;
    }

    &__name {
        margin-bottom: 8px;
    }

    &__color {
        margin-top: 0;
    }
}

.product-link {
    text-decoration: none;
    color: black;

    &:hover .image-wrapper {
        opacity: 0.7;
    }

    &:hover .product__name {
        color: #ff9900;
    }
}

.svg-wrapper {
    margin-left: auto;
    margin-right: 0;
}

.cross-icon,
.star-icon {
    width: 20px;
    height: 20px;
}

.image-wrapper {
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}