.pricing-plan-per-month {
    font-family: 'Arimo', sans-serif;
}

.title {
    text-align: left;
}

.row {
    border: 2px solid #DDDDDD;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.27);
}

.tbody {
    border: 11px solid #3A4965;
}

.description {
    margin: 0;
}

.pricing-table-2 {
    width: 1197px;
    border-collapse: collapse;
    border: 22px solid #3A4965;
}

.plan {
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    box-sizing: border-box;
}

.choose-plan {
    width: 201px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 25px;
    background: #FAFAFA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.pricing-plan {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 44px;
    background: #FAFAFA;
}

.storage, .e-mail, .products {
    width: 160px;
    background: #E3E3E3;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
} 

.bandwidth, .support, .users {
    width: 160px;
    background: #F2F2F2;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.storage {
    padding: 26px 30px 41px 31px;
} 

.bandwidth {
    padding: 26px 18px 41px 18px;
}

.e-mail {
    padding: 27px 48px 42px 48px;
}

.support {
    padding: 26px 31px 40px 31px;
}

.products {
    padding: 26px 20px 41px 25px;
}

.users {
    padding: 26px 43px 40px 44px;
}

.plan-cost {
    width: 201px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.standard-plan {
    background: #89C331;
}

.ultimate-plan {
    background: #F04A56;
}

.premium-plan {
    background: #20807C;
}

.standard {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 23px 18px 0 18px;
    box-sizing: border-box;
}

.digit {
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    box-sizing: border-box;
}

.big-digit {
    font-size: 36px;
    padding-left: 8px;
}

.small-digit {
    font-size: 18px;
    text-align: center;
}

.per-month {
    padding-left: 30px;
    box-sizing: border-box;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 147px;
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: #414141;
}

.btn:hover {
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.gb-storage, .email-plan, .products-quantity {
    width: 160px;
    background: #E3E3E3;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    box-sizing: border-box;
} 

.gb-storage {
    padding: 63px 38px 66px 38px;
} 

.email-plan {
    padding: 63px 50px 66px 50px;
}

.products-quantity {
    padding: 63px 34px 66px 32px;
}

.limited-bandwidth, .tw47-support, .users-quantity {
    width: 160px;
    background: #F2F2F2;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    box-sizing: border-box;
}

.limited-bandwidth {
    padding: 63px 31px 66px 31px;
}

.tw47-support {
    padding: 63px 40px 66px 39px;
}

.users-quantity {
    padding: 63px 59px 66px 54px;
}

.thousand-gb-storage {
    padding: 63px 41px 66px 39px;
} 