.main-page {
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    padding-top: 61px;
    padding-bottom: 30px;
} 

.theme-button {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #DBDBDB;
    background: rgba(149, 159, 168, 0.48);
    color: #DBDBDB;
}

.theme-button:hover {
    background: #222F3A;
}

.container {
    max-width: 1280px; 
    margin: 0 auto;
}

.logo {
    text-decoration: none;
}

.ra {
    font-size: 80px;
    line-height: 94px;
    color: #DBDBDB;
}

.mda_js {
    font-size: 80px;
    line-height: 94px;
    color: #4bcaff;
}

.nav-header {
    text-align: center;
    height: 72px;
    background: rgba(149, 159, 168, 0.48);
    margin-top: 40px;
}

.menu-header {
    margin: 0;
    padding: 0;
    word-spacing: -.36em; /* убираем отступы у пунктов меню справа*/
}

.menu-item-header {
    display: inline-block;
    border-left: 1px solid #000000;
}

.menu-item-header:last-child {
    border-right: 1px solid #000000;
}

.nav-header-link {
    display: inline-block;
    height: 72px;
    padding: 26px 32px 19px 32px;
    box-sizing: border-box;
    color: #DBDBDB;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    word-spacing: normal; /* убираем отступы у пунктов меню справа*/
}

.nav-header-link:hover {
    background: #222F3A;
    transition: 0.3s ease;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.nav-aside {
    width: 344px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
}

.menu-aside {
    margin: 0;
    padding: 0;
}

.menu-item-aside {
    list-style: none;
}

.menu-item-aside:hover {
    background: #DBDBDB;
    padding-left: 30px;
    cursor: pointer;
}

.nav-aside-link {
    display: block;
    height: 79.4px;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    padding-top: 27px;
    padding-left: 44px;
    box-sizing: border-box;
}

.nav-aside-link:hover {
    color: #35444F;
    transition: 0.3s ease;
}

.article-photo-container {
    background: rgba(149, 159, 168, 0.48);
    width: 885px;
    height: 529px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.article-photo {
    width: 320px;
    height: 381px;
}

.scale {
    transition: 1s ease-in-out;
}

.scale:hover {
    transform: scale(1.2);
}

.text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.article-text {
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #DBDBDB;
    margin: 0;
    padding-top: 37px;
}

.nav-footer {
    display: flex;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
}

.menu-footer {
    list-style: none;
    margin: 0;
    padding-left: 40px;
    word-spacing: -.36em; /* убираем отступы у пунктов меню справа*/
}

.menu-footer-item {
    display: inline-block;
}

.menu-footer-link {
    display: inline-block;
    height: 69px;
    font-size: 28px;
    line-height: 28px;
    color: #DBDBDB;
    padding: 20px 30px 20px 0;
    box-sizing: border-box;
    text-decoration: none;
    word-spacing: normal; /* убираем отступы у пунктов меню справа*/
}

.menu-footer-link:hover {
    color: #3181A6;
    text-decoration: underline;
    transition: 0.3s ease;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #DBDBDB;
    padding-left: 110px;
}