.form {
    box-sizing: border-box;

    &__link {
        color: rgb(55, 119, 192);
        font-size: 14px;

        &:hover {
            color: #f90;
            text-decoration: underline;
        }
    }

    &__input {
        padding: 10px;
        margin: 10px 0 5px;
        border: 2px solid #eee;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        width: 90%;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    &__label {
        font-size: 14px;
    }

    &__label::after {
        padding-left: 3px;
        color: #ea7162;
        content: "*";
        font-size: 14px;
        line-height: 1px;
    }
}

.required-fields {
    font-size: 14px;
    font-weight: bold;
    color: #ea7162;
    margin-top: 40px;

    &::before {
        padding-right: 3px;
        color: #ea7162;
        content: "*";
        font-size: 13px;
        line-height: 1px;
    }
}