body {
    padding: 50px;
    background-color: salmon;
    font-family: sans-serif;
    color: #ffffff;
}

.price-input {
    border-radius: 5px;
}

.input-outline-green {
    outline-color: green;
}

.input-border-red {
    border: 3px solid red;
}

.input-color-green {
    color: green;
}

.input-color-black {
    color: black;
}

.current-price-container {
    width: 210px;
    margin-bottom: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #ffffff;
    color: grey;
    font-size: 14px;
}

.clear-button {
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    color: grey;
    font-size: 14px;
    border: 1px solid grey;
}

.warning-text {
    color: black;
    margin-top: 5px;
}