.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__window {
        width: 516px;
        border-radius: 5px;
        background: #1e1e20;
        color: white;
    }
    
    &__header {
        padding: 19px 25px 19px 30px;
        box-sizing: border-box;
        border-radius: 5px;
        background: #28282b;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__body {
        padding: 35px 35px 25px;
        box-sizing: border-box;
        font-size: 15px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    
    &__buttons {
        padding-top: 15px;
    }
}

.header__title {
    margin: 0;
}