.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #1e1e20;
    list-style: none;
    gap: 20px;

    &__link {
        color: #fff;
        font-size: 20px;
        text-decoration: none;

        &--active {
            color: #f90;
            text-decoration: underline;
        }
    }
}