.main-page {
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
} 

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    padding: 18px 0 18px 0;
    position: relative;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.logo-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 79px;
}

.header-options {
    width: 347px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 79px;
}

.options-icon:hover .path-icon {
    fill: #3CB878;
    transition: 0.3s ease;
}

.authorization-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.compass::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-left: 25px;
}

.logo-text:hover, .log-in:hover, .sign-up:hover {
    color: #3CB878;
    transition: 0.3s ease;
}

/* Затемнение хэдера при наведении на дочерний элемент */

/* .header .logo-text:hover::after, .header .log-in:hover::after, .header .sign-up:hover::after {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
} */

.pop-up {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - (584px + 63px) / 2);
    width: 444px;
    min-height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 0 0;
    box-sizing: border-box;
}

.authorization-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-details::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin-right: 43px;
}

.sign-up-details {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0;
}

.log-in-details {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin: 0;
}

.log-in-details:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.3s ease;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 60px;
}

.social-networks-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    box-sizing: border-box;
}

.facebook {
    background: #305DB8;
    padding: 0 22px 0 16.77px;
}

.facebook:hover {
    background: #022263;
    transition: 0.3s ease;
}

.fa-facebook, .fa-google-plus {
    font-size: 26px;
}

.social-network-name {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.facebook-text {
    position: absolute;
    right: 22px;
}

.facebook::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-left: 18px;
}

.google {
    background: #DF4A32;
    padding: 0 27px 0 12px;
}

.google:hover {
    background: #AB1F09;
    transition: 0.3s ease;
}

.google-text {
    position: absolute;
    right: 27px;
}

.google::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-left: 7px;
}

.or-wrapper::before {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: calc(50%);
}

.or-wrapper {
    margin: 31px 0 0 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    background-color: #FFFFFF;
    position: absolute;
    margin: 0;
    padding: 0 5px;
}

.my-form {
    display: flex;
    flex-direction: column;
    padding: 17px 0 0 60px;
}

.my-form-field {
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 16px 20px;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.my-form-field {
    margin-bottom: 15px;
}

.my-form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.my-form-field::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.confirmation {
    color: #434343;
}

.terms-and-conditions {
    color: #3CB878;
}

.terms-and-conditions:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.3s ease;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #F2F2F2;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: url(../img/checkbox.svg);
    position: absolute;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    top: 2px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.btn {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background: #01813F;
    transition: 0.3s ease;
}