@import "./mixins";
@import "./variables";

.main-page {
  font-family: 'Roboto', sans-serif;
  min-width: $mobile;
}

.container {
  margin: 0 auto;

  @media (min-width: $mobile) {
    max-width: 320px;
  }

  @media (min-width: $mobile + 70) {
    max-width: 100%;
    padding: 0 25px;
  }

  @media (min-width: $tablet) {
    max-width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    max-width: 1170px;
  }
}

.section-title {
  @include section-title;
  color: $section-title-color;
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.section-title::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 2px;
  background-color: $section-title-color;
  margin: 0 5px 4px 0;
}