@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin section-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

@mixin social-icons-container {
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 50%;
}