$black: #000;
$white: #FFF;
$menu-bgc: #F5F5F5;
$menu-item-color: #4E4E4E;
$section-title-color: #4E4E4E;
$posts-description-color: #7C7C7C;
$posts-text-color: #5C5C5C;
$footer-title-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$rss-color: #F8902E;
$fb-color: #39599F;
$twitter-color: #45B0E3;
$dribble-color: #D97AB0;
$pinterest-color: #CC212C;
$footer-bgc: $black;

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;