.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    grid-gap: 15px;
    justify-content: center;
    align-items: start;
}

.products-list.cart-products {
    padding-bottom: 15px;
}