html {
    overflow: hidden;
}

.main-page {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
} 

.container {
    max-width: 1170px; 
    margin: 0 auto;
}

.navbar {
    display: flex;
    background-color: #313131;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    padding-left: 27px;
    text-decoration: none;
}

.header-logo:hover {
    opacity: 0.7;
}

.img {
    display: block;
    width: 100%;
}

.logo {
    width: 27px;
}

.architect {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 27px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-header-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 35px;
}

.nav-header-link:hover {
    color: #14B9D5;
    transition: 0.3s ease;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.navbar-bg {
    width: 68px;
    background-color: #000;
    padding: 25px 0;
    box-sizing: border-box;
}

.the-latest-news {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/header-bg-rsz.jpeg);
    background-attachment: fixed;
}

.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.content {
    transform: translateZ(-25px) scale(1.5);
}

.header-title-wrapper {
    display: flex;
    justify-content: center;
    padding: 75px 0 44px 0;
}

.title {
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.header-buttons-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    padding-bottom: 74px;
}

.btn-header {
    width: 170px;
    height: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 18px;
    border-radius: 5px;
    margin: 0;
}

.subscribe-now {
    background-color: #89CA62;
    margin-right: 20px;
}

.best-articles {
    background-color: #14B9D5;
}

.btn:hover {
    opacity: 0.7;
    color: #313131;
}

.blue-title {
    color: #18B4CF;
    padding: 50px 0;
}

.most-popular-posts {
    background: #F2F2F2;
}

.most-popular-posts-wrapper {
    display: flex;
    flex-flow: column wrap;
    max-height: 855px;
    padding-bottom: 44px;
}

.most-popular-posts-link {
    display: block;
    text-decoration: none;
    margin: 0 30px 30px 0; 
}

.most-popular-posts-link:hover {
    opacity: 0.7;
}

.most-popular-posts-figure {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 370px; 
    text-align: center;
    margin: 0;
}

.figcaption {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    box-sizing: border-box;
}

.most-popular-posts-figcaption {
    padding: 17.5px 0;
}

.vanglo-house {
    order: 1;
}

.sunrise-expanse {
    order: 3;
}

.stargaze-resort {
    order: 5;
}

.royal-blossom {
    order: 2;
}

.sunset-shack {
    order: 4;
}

.glorious-expanse {
    order: 6;
}

.our-most-popular-clients {
    background-image: url(../img/parallax-bg.jpeg);
    padding-top: 106px;
    background-attachment: fixed;
}

.rectangle {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 87px auto 0 auto;
}

.pc-logo-grid {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-gap: 58px;
    justify-content: center;
    align-items: center;
    padding: 117px 0 203px 0;
}

.pc-logo:hover {
    opacity: 0.7;
}

.top-rated {
    background: #E5E5E5;
}

.top-rated-img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.top-rated-img {
    transition: 1s ease-in-out;
}

.top-rated-img:hover {
    transform: scale(1.05);
    border: 1px solid #18B4CF;
}

.hot-news {
    background: rgba(0, 0, 0, 0.0001);
}

.prophecy-hotel-nebula-hotel-grid {
    display: grid;
    grid-template-columns: 856px 277px;
    grid-gap: 35px;
}

.prophecy-hotel-spa-in-emirate, .kings-shroud-resort-in-spain {
    display: grid;
    grid-template-columns: 483px 373px;
    width: 856px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-content-wrapper {
    padding-right: 20px;
}

.hot-news-link, .hot-news-link-figure {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    margin: 0;
}

.hot-news-link:hover {
    opacity: 0.7;
    text-decoration: underline;
    color: #18B4CF;
}

.hot-news-content-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding: 41px 0 14.5px 0;
    margin: 0;
}

.hot-news-link-figure:hover {
    opacity: 0.7;
}

.hot-news-figure {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 277px; 
    text-align: center;
    margin: 0;
}

.hot-news-figcaption {
    padding: 11.5px 0;
}

.western-grand-wanderlust-twin {
    display: grid;
    grid-template-columns: repeat(2, 554px);
    grid-template-rows: repeat(2, 418px);
    grid-column-gap: 60px;
    grid-row-gap: 46px;
    margin-top: 44px;
}

.western-pyramid-resort-in-egypt, .grand-meadows-resort-in-maldives, .wanderlust-resort-in-tenerife, .twin-sanctuary-hotel-in-great-britain {
    width: 554px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-content-wrapper-long {
    padding-right: 14px;
}

.long {
    padding: 12px 0 15px 0;
    margin: 0;
}

.prism-hotel-kings-shroud-grid {
    display: grid;
    grid-template-columns: 277px 856px;
    grid-gap: 35px;
    margin: 44px 0 77px 0;
}

.footer {
    padding: 27px 0;
    background-color: #000000;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 512px 105px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-logo {
    display: grid;
    grid-template-columns: 38px 64px;
}