.btn {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.btn-open-modal {
    padding: 10px;
    font-size: 11px;
    text-transform: uppercase;
}

.btn-close {
    padding: 0;
    transition: 0.3s;
}

.btn-submit {
    width: 100px;
    padding: 12px 0;
    text-align: center;
    margin: 25px 10px 0 0;
    font-weight: normal;
}

.btn-star {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 0;

    &:hover {
        opacity: unset;
    }
}

.svg-star:hover {
    fill: #f90
}