.btn {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.btn-open-modal {
    min-width: 220px;
    padding: 15px 32px;
    margin-right: 20px;
}

.btn-close {
    padding-top: 7px;
    transition: 0.3s;
}

.btn-submit {
    font-weight: normal;
    min-width: 100px;
    padding: 12px 0;
    margin: 20px 10px 0 0;
}