.footer {
    background-color: $footer-bgc;
    padding: 38px 0 47px 0;

    @media (min-width: $tablet) {
        padding: 57px 0 56px 0;
    }

    @media (min-width: $desktop) {
        padding: 66px 0 70px 0;
    }

    &__text {
        width: 303px;
        margin: 0 auto 26px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: $footer-text-color;

        @media (min-width: $tablet) {
            display: none;
        }
    }

    &__text--long {
        display: none;

        @media (min-width: $tablet) {
            width: 684px;
            margin: 0 auto 37px;
            display: block;
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__contacts {
        width: 200px;
        margin: 25px auto 0 auto;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $footer-text-color;

        @media (min-width: $tablet) {
            width: 100%;
            font-size: 16px;
            line-height: 26px;
            margin: 34px auto 0 auto;
        }
    }
}

.section-title--footer {
    @include section-title;
    color: $footer-title-color;
    text-align: center;
    margin-bottom: 8px;

    @media (min-width: $tablet) {
        font-size: 16px;
        margin-bottom: 22px;
    }
}

.section-title--footer::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 2px;
    background-color: $footer-title-color;
    margin: 0 5px 4px 0;
}

.section-title--footer::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 2px;
    background-color: $footer-title-color;
    margin: 0 0 4px 5px;
}


.social-icons {
    width: 195px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &__container {
        @include flex-center;
        @include social-icons-container;
    }

    &__container:hover {
        opacity: 0.7;
    }

    &__container--rss {
        border: 2px solid $rss-color;
    }

    &__rss {  
        fill: $rss-color;
    }

    &__container--fb {
        border: 2px solid $fb-color;
    }

    &__fb {  
        fill: $fb-color;
    }

    &__container--twitter {
        border: 2px solid $twitter-color;
    }

    &__twitter {  
        fill: $twitter-color;
    }
    
    &__container--dribble {
        border: 2px solid $dribble-color;
    }

    &__dribble {  
        fill: $dribble-color;
    }

    &__container--pinterest {
        border: 2px solid $pinterest-color;
    }
    
    &__pinterest {  
        fill: $pinterest-color;
    }
}