.header {
  padding-top: 23px;
  padding-bottom: 38px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 41px 0 56px 0;
  }

  @media (min-width: $desktop) {
    padding: 45px 0 66px 0;
  }

  &__menu {
    list-style: none;

    @media (max-width: $tablet - 1) {
      position: absolute;
      right: -100%;
      width: 182px;
      margin-top: 37px;
      background-color: $menu-bgc;
      display: none;
      transition-duration: .25s;
    }

    @media (min-width: $tablet) {
      width: 575px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    @media (min-width: $desktop) {
      width: 777px;
    }
  }

  &__image {
    margin-top: 60px;

    @media (min-width: $tablet) {
      margin-top: 43px;
    }

    @media (min-width: $desktop) {
      margin-top: 51px;
    }
  }
}

#menu__toggle {
  display: none;

  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  &:checked ~ .header__menu {
    display: block;
    right: 25px;

    @media (max-width: $mobile + 70) {
      right: 0;
    }
  }
}

.menu__btn {

  @media (max-width: $tablet - 1) {
      @include flex-center;
      width: 44px;
      height: 37px;
      background-color: $black;
      position: absolute;
      right: 25px;
      cursor: pointer;
    
    & > span,
    & > span::before,
    & > span::after {
      display: block;
      position: absolute;
      width: 17px;
      height: 2px;
      background-color: $white;
      transition-duration: .25s;
    }
    & > span::before {
      content: '';
      top: -4px;
    }
    & > span::after {
      content: '';
      top: 4px;
    }
  }

  @media (max-width: $mobile + 70) {
    right: 0;
  }
}

.menu__item {
  color: $menu-item-color;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;

  @media (max-width: $tablet - 1) {
    display: block;
    transition-duration: .25s;
    padding: 5px 0 3px 13px;
  }

  &--active {
    color: #57A4A4;
  }

  &:hover {

    @media (max-width: $tablet - 1) {
      background-color: #E5E5E5;
    }

    @media (min-width: $tablet) {
      color: #57A4A4;
    }
  }
}
