.instagram {
    padding: 38px 0 42px 0;

    @media (min-width: $tablet) {
        background: #00000003;
        padding: 47px 0 50px 0;
    }

    &__link {
        @include section-title;
        color: $section-title-color;
        font-size: 13px;
    }

    &__link:hover {
        opacity: 0.7;
    }

    &__link::after {
        content: '';
        display: inline-block;
        width: 3px;
        height: 1.5px;
        background-color: $section-title-color;
        margin: 0 0 4px 5px;
      }

    &__images {
        max-width: 320px;
        display: flex;
        overflow: hidden;
        margin-top: 13px;

        @media (min-width: $tablet) {
            min-width: $tablet;
        }

        @media (min-width: $desktop) {
            min-width: 100%;
            margin-top: 0;
        }
    }

    &__image {
        margin-right: 35px;
        
        @media (min-width: $tablet) {
            width: 250px;
            margin-right: 9px;
        }

        @media (min-width: $desktop) {
            width: 285px;
            margin-right: 10px;
        }
    }
}

.title-mobile {

    @media (min-width: $tablet) {
        display: none;
    }
}

.title-tablet {
    display: none;

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}