.posts {

    @media (min-width: $tablet) {
        padding-bottom: 28px;
    }

    @media (min-width: $desktop) {
        padding-bottom: 37px;
    }

    &__wrapper {
        @media (min-width: $desktop) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__post:first-child {
        order: 1;
    }

    &__post:nth-child(2) {
        order: 3;
    }

    &__post:nth-child(3) {
        order: 2;
    }

    &__post:last-child {
        display: none;
        order: 4;

        @media (min-width: $tablet) {
            display: flex;
        }
    }
    
    &__figure {
        margin-bottom: 28.5px;

        @media (min-width: 500px) {
            display: flex;
        }

        @media (min-width: $tablet) {
            width: 585px;
            margin-bottom: 32px;
        }
    }

    &__figure:hover {
        opacity: 0.7;
    }

    &__image {
        width: 160px;

        @media (min-width: 500px) {
            margin-right: 21px;
        }
    }

    &__figcaption {
        margin-top: 11px;

        @media (min-width: 500px) {
            margin-top: 0;
        }
    }

    &__heading {
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: $section-title-color;

        @media (min-width: $tablet) {
            font-size: 16px;
        }
    }

    &__description {
        font-size: 11px;
        line-height: 20px;
        color: $posts-description-color;

        @media (min-width: $tablet) {
            font-size: 12px;
        }
    }

    &__text {
        display: none;
        font-size: 14px;
        line-height: 26px;
        color: $posts-text-color;
        margin-top: 13px;

        @media (min-width: $tablet) {
            display: flex;
        }
    }
}